@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Layout.cshtml";
}

<h1>@Model.Value("title")</h1>
<p>@Model.Value("content")</p>
<img src="@Model.Image2.Url()">

@{
var image2 = Model.Value<IPublishedContent>("image2");
}